body{
    background-color:dimgray;
}

.title{
    background-color:white;
    margin-left: 30%;
    margin-top: 3%;
    width: 40%;
    text-align: center;
    color: brown;
}

.table{
    background-color: darkgray;
    margin-left: 30%;
    width: 40%;
    margin-top: -0.57cm;
}

.center{
    text-align: center;
}

.color{
    color: brown;
}

.margin{
    margin-left: 10%;
}

.tmargin{
    margin-top: 10%;
}

.btn{
    margin-top: 40%;
    margin-left: 250%;
    width: 200%;
    padding: 10px 20px;
    border: none;
    color: white;
    background-image: linear-gradient(rgb(45, 45, 44), grey);
}