body{
    background-color:dimgray;
}

.title{
    background-color:white;
    margin-left: 30%;
    margin-top: 3%;
    width: 40%;
    text-align: center;
    color: brown;
}

.table{
    background-color: darkgray;
    margin-left: 30%;
    width: 40%;
    margin-top: -0.57cm;
}

.center{
    text-align: center;
}

.color{
    color: brown;
}